body{
  margin:0px;
  min-height: 700px;
  background-color: whitesmoke;
}

.grid-12{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-8{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
