.grid{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat( 12, 1fr);
}

.slice-1, .slice-2, .slice-3, .slice-4, .slice-5, .slice-6, .slice-7, .slice-8, .slice-9, .slice-10, .slice-11, .slice-12{
    grid-row-start: 1;
}
.slice-1 {
    grid-column-end: span 1;
}
.slice-2 {
    grid-column-end: span 2;
}
.slice-3 {
    grid-column-end: span 3;
}
.slice-4 {
    grid-column-end: span 4;
}
.slice-5 {
    grid-column-end: span 5;
}
.slice-6 {
    grid-column-end: span 6;
}
.slice-7 {
    grid-column-end: span 7;
}
.slice-8 {
    grid-column-end: span 8;
}
.slice-9 {
    grid-column-end: span 9;
}
.slice-10 {
    grid-column-end: span 10;
}
.slice-11 {
    grid-column-end: span 11;
}
.slice-12 {
    grid-column-end: span 12;
}
